@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --branch-principal: #00FFFF;
  
  --primary-color-dark: #1C2833;
  --secondary-color-dark: #17202A;
  --extra-color-dark: #121921;
  --extra-color-dark-2: #212F3D;
  --extra-color-dark-3: #273746;


  --font-color-dark: #fff;
  --font-color-dark-2: #AEB6BF;
  --font-color-dark-3: #808B96;
  --font-color-light: #111;

  --color-red-general: #C0392B;
  --color-green-general: #009900;


  --color-temporada-invierno: #80DEEA;
  --color-temporada-otoño: #EF6C00;
  --color-temporada-primavera: #FF66FF;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-color-dark);
  color: var(--font-color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

nav h2 a{
  color: var(--font-color-dark);
  text-decoration: none;
  padding: 28px 16px;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    margin: 25px 0;
}

/* ///////////////////////////// SCROLLBAR ///////////////////////////// */
body::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  /* display: none;  Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: var(--branch-principal);
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #00dddd;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #00c0c0;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: var(--secondary-color-dark);
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
background: var(--extra-color-dark);
}

/* ETIQUETA TITLE x Cap */
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.1s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #333;
  color: #fff;
  font-size: 14px;
  position: absolute;
  padding: 3px 20px;
  bottom: -1.7em;
  left: -10%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
  
}
[data-title] {
  position: relative;
}

/* //////////////////// COOKIES //////////////////// */
#cajacookies{
  width: 100%;
  margin: 20px 0px;
}

#infobox3 {
  margin: auto;
  position: relative;
  top: 0px;
  text-align:center;
  width: 300px;
}

#infobox3 button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -35px;
  background: transparent;
  color: var(--branch-principal);
  border: 0;
  font-size: 26px;
  text-shadow: 0px 0px 10px rgba(0, 255, 255, 1);
}

.cookies-img{
  width: 160px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.cookies-img img {
  width: 100%;
  position: absolute;
  right: -170px;
  top: -85px;
}

#infobox3 p {
  line-height:15px;
  font-size:12px;
  text-align:center;
}

#infobox3 p a {
  margin-right:5px;
  margin-top: 5px;
  text-decoration: underline;
  display: block;
  color: var(--branch-principal);
  font-size: 30px;
}

#infobox3 p a:hover{
  color: #00d0d0;
}

/* ///////////////////////////// BOTON ///////////////////////////// */
.container-switch-header {
  height: 100%;
  float: right;
  background: var(--extra-color-dark);
  padding: 0 10px;
}

.container-switch-header-B {
  margin: 28px 0;
}

/* Cambio de modo DIA/NOCHE */
.switch{
  background: var(--light-switch);
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  font-size: 1.3rem;
  margin-top: 5px;
}

.switch:active{
  background: var(--dark-switch);
  color: black;
}

.switch:active::after{
  right: -4px;
  left: unset;
}

.night i{
  color: var(--branch-principal);
  transition: .2s all ease;
  text-shadow: 0px 0px 10px rgba(0, 255, 255, 1);
  transform: scale(1.2);
}

.active .night i{
  color: var(--font-color-dark);
  transition: .2s all ease;
  text-shadow: none;
  transform: scale(.8);
}

.day i{
  transition: .2s all ease;
}

.active .day i{
  color: var(--branch-principal);
  transition: .2s all ease;
  text-shadow: 0px 0px 10px rgba(0, 255, 255, 1);
  transform: scale(1.2);
}

.switch span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: white;
}

.night:hover,
.day:hover {
  transform: scale(1.2);
}

/* ////////////////////// HEADER ////////////////////// */

.header{
  width: 100%;
  height: 80px;
  background: var(--secondary-color-dark);
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 1px 5px 0px var(--secondary-color-dark);
  -moz-box-shadow:    0px 1px 5px 0px var(--secondary-color-dark);
  box-shadow:         0px 1px 5px 0px var(--secondary-color-dark);
  z-index: 999;
}

.container-header-A{
  width: 85%;
  height: 100%;
  display: inline-block;
  margin-left: 20px;
}

.img-header{
  width: 80px;
  height: 80px;
  display: inline-block;
}

.img-header img{
  width: 100%;
}

.nav{
  float: left;
  height: 100%;
}

.nav-header{
  height: 80px;
  float: right;
}

.links-menu a{
  color: #AEB6BF;
}

.links-menu:hover a{
  color: var(--font-color-dark);
  -webkit-box-shadow: inset 0px 0px 30px 0px var(--secondary-color-dark);
  -moz-box-shadow:    inset 0px 0px 30px 0px var(--secondary-color-dark);
  box-shadow:         inset 0px 0px 30px 0px var(--secondary-color-dark);
  background: var(--primary-color-dark);
}

.emision a{
  color: var(--branch-principal);
}

.emision:hover a{
  color: var(--color-red-general);
  -webkit-box-shadow: inset 0px 0px 30px 0px var(--secondary-color-dark);
  -moz-box-shadow:    inset 0px 0px 30px 0px var(--secondary-color-dark);
  box-shadow:         inset 0px 0px 30px 0px var(--secondary-color-dark);
  background: var(--primary-color-dark);
}

/* ////////////////////////////// MAIN ////////////////////////////// */

.main{
  width: 100%;
  margin: 0 auto;
}

.container-caps{
  width: 100%;
  background: rgb(17,23,32);
  background: radial-gradient(circle, rgba(28,40,51,1), #121921 70%);
  padding: 50px 0;
}

.container-caps-B{
  width: 1000px;
  margin: 0 auto;
}

.container-video{
  display: inline-block;
  white-space: nowrap;
  width: 780px;
}

.btn-opcion{
  margin-bottom: 10px;
}

.btn-opcion button{
  background: var(--extra-color-dark-2);
  color: var(--branch-principal);
  text-align: center;
  outline: none;
  border: 1px solid var(--primary-color-dark);
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px var(--secondary-color-dark);
  -moz-box-shadow: 0px 1px 5px 0px var(--secondary-color-dark);
  box-shadow: 0px 1px 5px 0px var(--secondary-color-dark);
  cursor: pointer;
}

.btn-opcion button:hover{
  background: var(--extra-color-dark-3);
}

.change-cap{
  margin-top: 15px;
}

.change-cap a {
  background: var(--extra-color-dark-2);
  color: var(--branch-principal);
  text-decoration: none;
  padding: 10px 5px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 16px;
}

.change-cap a:hover{
  background: var(--extra-color-dark-3);
}

.btn-opcion p{
  margin: 0;
  padding: 0 4px;
  font-size: 16px;
}

.recomendados {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.title-recomendados i{
  color: var(--branch-principal);
}

.title-recomendados h2{
  margin: 12px 0;
  font-weight: 500;
}

.title-recomendados{
  width: 100%;
}

.title-recomendados p {
  margin: 5px 0;
  color: var(--font-color-dark);
  text-decoration: none;
  font-size: 16px;
}
.recomendados img {
  width: 100%;
}

.container-recomendados {
  width: 200px;
  float: right;
}

.link-recomendados:hover .title-recomendados p{
  color: var(--font-color-dark-2);
}

.title-cap h1 {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.video iframe{
  width: 765px;
  height: 430px;
}

/* ////////////////////////////// MODO LIGHT ////////////////////////////// */
body.light #infobox3 p{
  color: var(--font-color-light);
}

body.light #infobox3 p a,
body.light #infobox3 button{
  color: var(--branch-principal-light);
}

body.light #infobox3 button{
  text-shadow: 0px 0px 5px rgb(255, 0, 0);
}

body.light{
  background: var(--font-color-dark);
}


/* ////////////////////////////// MEDIA QUERY'S ////////////////////////////// */
@media (max-width: 1023px){
  .container-header-A {
    width: 80%;
  }

  nav h2 a{
    font-size: 16px;
  }

  .header{
    position: relative;
  }

  .container-caps{
    padding: 10px 0;
  }

  .container-caps-B{
    width: 100%;
  }

  .container-video{
    width: 100%;
    white-space: normal;
  }

  .video iframe{
    width: 100%;
    height: 450px;
  }

  .title-cap{
    margin: 0 10px;
  }

  .change-cap {
    margin: 15px 10px 0 10px;
  }

  .container-recomendados {
    width: 100%;
    float: none;
    text-align: center;
  }

  .recomendados {
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    display: inline-grid;
  }

  .btn-opcion {
    margin: 0 10px 10px 10px;
}
}

@media (max-width: 800px){
  .video iframe {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 620px){
  .video iframe {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 560px){
  .container-header-A {
    width: 73%;
  }

  .title-recomendados h2 {
    margin: 25px 0 12px 0;
    font-weight: 500;
  }

  .container-caps {
    padding: 70px 0;
  }

  .img-header {
    display: block;
    margin: 0 auto;
  }

  .header{
    position: relative;
  }

  body.light nav h2 a{
    color: var(--font-color-light);
  }

  body.light nav h2 a:hover,
  body.dark nav h2 a:hover{
    background: transparent;
    box-shadow: none;
  }

  .change-cap a{
    font-size: 12.5px;
  }

  .change-cap {
    margin: 10px auto;
    width: 400px;
  }

  .title-cap h1{
    font-size: 19px;
  }

  .recomendados{
    width: 200px;
    height: auto;
  }
}

@media (max-width: 425px){
  .header{
    height: 60px;
  }

  .recomendados{
    text-align: center;
    display: block;
    height: auto;
  }

  .recomendados {
    display: block;
    height: auto;
    margin: 10px auto;
    width: 315px;
  }

  .btn-opcion p{
    font-size: 10px;
  }

  .video iframe{
    height: 180px;
  }

  .title-cap h1{
    font-size: 16px;
  }

  .img-header {
    width: 60px;
    height: 60px;
  }

  .change-cap a{
    font-size: 10px;
    margin: 2px;
  }

  .change-cap{
    width: 313px;
  }

  .container-switch-header-B {
    margin: 14px 0;
  }

  h2 {
    margin: 14px 0;
  }

  nav h2 a {
    padding: 16px 16px;
  }

  .container-header-A {
    width: 70%;
  }

  nav h2 a {
    font-size: 14px;
    padding: 16px 6px;
  }

  .container-switch-header {
    padding: 0;
  }
  
  #infobox3 {
    width: 250px;
  }

  .cookies-img{
    width: 110px;
  }

  .cookies-img img {
    width: 100%;
    position: absolute;
    right: -100px;
    top: -70px;
  }
}